
<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="#">User</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <!--                <a class="nav-link" href="/logout">Logout</a>-->
                <button onclick="document.location='/'"class="btn btn-outline-primary">Logout</button>
            </li>
        </ul>
    </div>
</nav>
<br>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2" style="margin-top:20px; height: 100vh">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#User">User</a>
                </li>
            </ul>
        </div>
        <div class="col-9">
            <h2>User information-page</h2>
            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <h5>About user</h5>
                        </li>
                    </ul>
                </div>
                <div class="card-body">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">Email</th>
                            <th scope="col">Age</th>
                            <th scope="col">Role</th>
                        </tr>
                        <tr >
                            <td th:text="${user.getName()}"></td>
                            <td th:text="${user.getPassword()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getAge()}"></td>
                            <td th:text="${user.getRoles()}"></td>
                        </tr>
                    </table>
                </div>
                    <!--<button onclick="document.location='/'"class="btn btn-outline-primary">login</button>-->
</body>
</html>